body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 15px;
}
iframe {
	border: none;
}
body {
	background-color: lightblue;
}
footer {
  background-color: #777;
  color: #fff;
  text-align: center;
  padding: 1px 0;
  position: relative;
  top: 6.5em;
}
header {
  background-color: #777;
  color: white;
  text-align: center;
  padding: 1em 0;
}
#main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
}
#main-nav ul li {
  display: inline-block;
  margin: 1em 5em;
}
#main-nav ul li a {
  color: white;
  text-decoration: none;
}
ul, h1, .play-regular {
  font-family: "Play", Rockwell;
  font-weight: 400;
  font-style: normal;
}
#main-nav ul li a:hover {
	background-color: #333;
	color: lightblue;
	border-radius: 50px;
	text-decoration: underline;
}
h1, .play-bold {
  font-family: "Play", Rockwell;
  font-weight: 700;
  font-size: 2em;
  font-style: normal;
  text-align: center;
}
h2 {
	font-family: Rockwell;
}
li {
	font-family: monospace;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}
section#ContactInfo {
	font-style: italic;
	text-align: center;
  position: relative;
  top: 3em;
}
section#education{
	text-align: center;
	list-style: none;
  position: relative;
  top: 3em;
}
section#awards {
	text-align: center;
  position: relative;
  top: 3em;
}
section#strokes {
	text-align: center;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
section#beatles {
	text-align: center;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
section#macmiller {
	text-align: center;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
section#pulpfiction {
	color: white;
  text-shadow: 2px 2px 4px #000000;
}
section#lifeisbeautiful {
	color: white;
  text-shadow: 2px 2px 4px #000000;
}
section#holdovers {
	color: white;
  text-shadow: 2px 2px 4px #000000;
}
ul{
  list-style-type: none;
}

@media (min-width: 800px) {
  section#main{
    padding: 20px;
  }

  section#main h1 {
  font-size: 26px;
  }
  section#main {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: lightblue;
  }

  section#main h2 {
    font-size: 22px;
  }
  section#main p {
    font-size: 14px;
  }
  iframe {
    max-width: 100%;
    height: auto;
    padding: 2%;
  }
}

@media (min-width: 1000px) {
  section#main h1 {
    font-size: 30px;
  }
  section#main {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    text-align: center;
    background-color: lightblue;
  }
  section#main h2 {
    font-size: 24px;
  }
  section#main p {
    font-size: 14px;
  }
}

#wrapper{
  width: 850px;
  height: 600px;
  background-color: #FF0000;
  margin: 0 auto;
  overflow: hidden;
}
#canvas{
  width: 700px;
  height: 500px;
  background-color: lightblue;
  margin: 30px auto;
}